<footer>
<div id="footer">

    <div class="foot-bar">
        <div class="foot-1">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/about">Slash Pages</a></li>
                <li><a href="/about">Archive</a></li>
                <li><a href="/about">Subscribe</a></li>
             </ul>
        </div>

        <div class="foot-2">
            <img src="https://2ell.b-cdn.net/dream_now.gif" aria-label="88x31 button that advertises 'Dream Now!'">
         </div>

        <div class="foot-3">
            <p>
                made with <span class="icon-heart" aria-label="heart">{% icon "lucide:heart" %}</span> by laurel
            </p>
            <p>
                <span class="icon-drill" aria-label="heart">{% icon "lucide:drill" %}</span> built using <a href="https://11ty.dev">11ty</a><br>
                <span class="icon-rocket" aria-label="heart">{% icon "lucide:rocket" %}</span> deployed by <a href="https://netlify.com/">netlify</a></p>
        </div>
    </div>

</div>
</footer>