footer {
    background-color: var(--mantle);
    width: 100%;
    font-size: 0.9em;
    & .icon-heart svg {
        fill: var(--pink);
        height: 1em;
        width: 1em;
    }
}

.foot-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.foot-1 {
    & ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
}

.foot-2 {
    display: none;
    padding-bottom: 1em;
    align-self: flex-end;
}

.foot-3 {
    text-align: right;
}