body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    line-height: 2em;
}

main {
  margin: 5em 0 2em 0;
  min-height: 60vh;
}

.body-content {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
}

#header {
  max-width: 65em;
  margin: 0 auto;
}

#footer {
  max-width: 65em;
  margin: 0 auto;
}

  img {
    margin: 1em 0 0 0;
    max-width: 100%;
  }

  [data-theme="dark"] img {
    opacity: 0.7;
  }

  img + :is(p) {
    margin-top: 0em;
    text-align: center;
    font-style: italic;
    color: var(--subtext);
  }



a.footnote {
  color: var(--uni-dark);
    text-decoration:none;
    background-color: var(--lavender);
    border-radius: 40%;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
 } 
 
 a.footnote span {
    z-index: -1;
    opacity: 0;
    display: none;
 }
 
 a.footnote:hover {
  border-bottom: 0;
   & span {
    font-size:.9em;
    z-index: 1;
    position: absolute;
    display: block;
    opacity: 1;
    visibility: visible;
    padding: 0.3em 1em 0.4em;
    border-bottom: 0px;
    right: 4ch;
    left: 20ch;
    background: var(--lavender);
    color: var(--uni-dark);
    box-shadow: 0 0 1em rgba(5, 5, 5, 0.1);
    border-radius: 3px;
    pointer-events: none;
  }
 }
