.post__collection {
    list-style-type: none;
    padding: 0;
    & li {
        border-bottom: 1px solid var(--text);
        margin-bottom: 3em;
    }
    & h2 {
        text-transform: lowercase;
    }
}

.post__collection .li-container {
    display: flex;
    align-items: center;
    gap: 2em;
    & .li-datetime {
        font-size: 0.9em;
        flex-shrink: 0;
        align-self: center;
        flex-wrap: nowrap;
        padding: 0 0.5em 0 0.5em;
        background-color: var(--mantle);
/*        border: 1px solid var(--text);*/
    }
    & .li-posttitle {
        flex-wrap: wrap;
    }
}


.post__header {
    max-width: 65em;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

.post__title {
    padding: 0 0 0.5em 0;
    margin: 0 1em 0 1em;
    border-bottom: 1px solid currentColor;
}

.post__date {
    margin: 0 2em 0 1em;
    text-align: right;
}