---
layout: base.njk
---
<div class="post__header">
<h1 class="post__title">{{ title }}</h1>
<div>
<div class="post__date"><strong>{{ page.date | formatDate('MMM D, YYYY') }}</strong></div>
</div>
</div>

<div class="post__body">
<article>
    {{ content | safe }}
</article>
</div>

