---
layout: base.njk
title: 'aww baby'
eleventyNavigation:
  key: home
eleventyExcludeFromCollections: true
---

<!-- post list -->
<ul class="post__collection" aria-description="List of recent blog posts in reverse-chronological order">

{%- for post in collections.post -%}

  <!-- post list item -->
  <li>
    <!-- post title -->
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <!-- post datestamp -->
    <span>— {{ post.date | formatDate("MMM DD") }}</span>

  <!-- post list item END-->
  </li>

{%- endfor -%}

<!-- post list end -->
</ul>

