@use "sass/theme.scss";
@use "sass/header.scss";
@use "sass/layout.scss";
@use "sass/post.scss";

@import url(https://fonts.bunny.net/css?family=ubuntu:400);

/* ==========================================================================
// ANCHOR THEME
========================================================================== */


.icon-moon {color: var(--blue);}

.icon-sun {color: var(--peach);}

* {
  font-family: 'Ubuntu', sans-serif;
}